<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mybatis.mapper.StudentMapper">
    <select id="selectStudentAll" resultType="student">
        select *
        from student
    </select>
    <select id="getStudentBySid" resultType="Mybatis.entity.Student">
        select *
        from student
        where sid = #{sid}
    </select>
    <insert id="addStudent">
        insert into student(name, sex)
        values (#{name},
                #{sex})
    </insert>
    <delete id="delStudent">
        delete from student
        where sid = #{sid}
    </delete>
<!--    <update id="updateStudent">-->
<!--        update student set-->
<!--            name = #{studentname}-->
<!--        where sid = #{studentid}-->
<!--    </update>-->
</mapper>